@media (min-width:769px) {
    .md-sidebar--primary {
        display: none !important;
    }
    .md-content{
        margin-left: 10%;
    }    
}


a {
    color: black !important;
}

a:hover{
    color: darkgray !important;
}

.md-copyright a{
    color: #ffffff73 !important;
}

.wordle_words{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: large !important;
    width: 20% !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}